<app-navbar></app-navbar>

<div class="container pt-5">
    <div class="row">
        <div class="col-md-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="p-2 bg-light">
                <p>Logged in: {{ (isLoggedIn$ | async) }}</p>
                <p>Logged out: {{ isLoggedOut$ | async }}</p>
                <p>Current Viewport: {{ (isMobile$ | async) ? "Mobile" : "Desktop" }}</p>
            </div>
        </div>
    </div>
</div>