.navbar {
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    .navbar-brand {
        font-size: 180%;
        font-weight: 600;
    }
    .nav-item {
        font-size: 14px;
        font-weight: 600;
    }
}